<div class="card border">
  <div class="card-header">
    <h1>VIN-Abfrage</h1>
    <h1>€ 1,00</h1>
  </div>
  <div class="card-content">
    <h3>Firmendaten:</h3>
    <p>{{ vinAbfrageData.companyData.headquarter }}</p>
    <p>{{ vinAbfrageData.companyData.hrNumber }}</p>
    <p>{{ vinAbfrageData.companyData.taxNumber }}</p>
    <h3>Handels- bzw. Servicepartner:</h3>
    <p>{{ vinAbfrageData.servicePartner.partnerName }}</p>
    <p>{{ vinAbfrageData.servicePartner.partnerNumber }}</p>
  </div>
  <p class="extra-info">Datenschutzbedingungen autoglas PLUS &#x203A;</p>
</div>
