<div class="container">
  <div class="registration">
    <h1>Registrierung</h1>
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
      amet.
    </p>
    <mat-form-field appearance="outline">
      <mat-label>DAT-Kundennummer</mat-label>
      <input matInput placeholder="DAT-Kundennummer" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>E-Mai-Adresse</mat-label>
      <input matInput placeholder="E-Mai-Adresse" />
    </mat-form-field>
    <h3>Legen Sie ihr Passwort fest:</h3>
    <mat-form-field appearance="outline">
      <mat-label>Passwort eingeben</mat-label>
      <input matInput placeholder="Passwort eingeben" />
    </mat-form-field>
    <p class="info-text">
      Hinweistext zum Passwort: Lorem ipsum dolor sit amet, consetetur
      sadipscing elit.
    </p>
    <mat-divider></mat-divider>
    <div class="last">
      <p class="existing-account" routerLink="/login">
        Ich habe bereits ein Konto &#x203A;
      </p>
      <button class="button triangle" routerLink="/offer-overview-customer">
        Registrieren &#x203A;
      </button>
    </div>
  </div>
</div>
