<div class="container">
  <div class="login">
    <h1>Login</h1>
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
      amet.
    </p>
    <mat-form-field appearance="outline">
      <mat-label>DAT-Kundennummer</mat-label>
      <input matInput placeholder="DAT-Kundennummer" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>E-Mai-Adresse</mat-label>
      <input matInput placeholder="E-Mai-Adresse" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Passwort eingeben</mat-label>
      <input matInput placeholder="Passwort eingeben" />
    </mat-form-field>
    <p class="forgot">
      Ich habe mein Passwort vergessen <mat-icon>key</mat-icon>
    </p>
    <mat-divider></mat-divider>
    <div class="last">
      <p class="no-account" routerLink="/registration">
        Ich habe noch kein Konto &#x203A;
      </p>
      <button class="button triangle" routerLink="/offer-overview-customer">
        Anmelden &#x203A;
      </button>
    </div>
  </div>
</div>
