<div class="card border">
  <div class="trash triangle">
    <mat-icon>delete</mat-icon>
  </div>
  <h1 class="card-header">autoglas PLUS</h1>
  <div class="card-content">
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
      amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
      nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
      diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
      sit amet.
    </p>
    <mat-form-field appearance="outline">
      <mat-label>Innung</mat-label>
      <input
        matInput
        [(ngModel)]="autoglasPlusDetails.innung"
        (ngModelChange)="setInnung($event)"
        placeholder="Innung"
      />
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
  <p class="extra-info">Zusatzinformationen anzeigen</p>
</div>
