.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.sepa {
  width: 90px;
}

.visa {
  width: 80px;
}

.invoice {
  width: 30px;
}

.vorkasse {
  width: 90px;
}

.mastercard {
  width: 50px;
  margin-right: 10px;
}
