<div class="card border">
  <div class="card-header">
    <h1>myDAT</h1>
    <h1>kostenlos</h1>
  </div>
  <div class="card-content">
    <h3>BDV-Nutzer:</h3>
    <p>{{ userData.bdvUser.firstName }}</p>
    <p>{{ userData.bdvUser.lastName }}</p>
    <p>{{ userData.bdvUser.email }}</p>
    <h3>Standardnutzer:</h3>
    <p>{{ userData.standardUser.firstName }}</p>
    <p>{{ userData.standardUser.lastName }}</p>
    <p>{{ userData.standardUser.email }}</p>
  </div>
  <p class="extra-info">Datenschutzbedingungen autoglas PLUS &#x203A;</p>
</div>
