<div class="container">
  <div class="box">
    <div>
      <img class="tooltip" src="../../assets/tooltip.png" alt="" />
    </div>
    <div>
      <img
        class="succes"
        src="../../assets/success.png"
        alt="success"
        routerLink="/login"
      />
      <h1>Angebot erfolgreich übermittelt</h1>
      <p>
        Das erstellte Angebot wird jetzt an den Kunden weitergegeben. Dazu
        erhält dieser eine E-Mail und kann das Angebot noch einmal prüfen und
        anschließend annehmen.
      </p>
      <button class="button triangle">
        Zurück zur Kundenübersicht &#x203A;
      </button>
      <p class="logout">Vom Angebotskonfigurator abmelden</p>
    </div>
  </div>
</div>
