.container {
  max-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-weight: bold;
}

.box {
  max-width: 30%;
  margin-bottom: 30px;
}

.logout {
  color: #1b3566;
  cursor: pointer;
}

.button {
  width: 240px;
  margin-left: 50px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.succes {
  width: 130px;
  margin-bottom: 50px;
}
